<div class="container">

  <div class="actions">
    <button class="btn btn-secondary" (click)="goBack()">← Home</button>
  </div>

  <div class="card">
    <div class="header">
      <h2>User details</h2>
    </div>

    <form class="user-form" [formGroup]="form" (ngSubmit)="saveUser()">
      <div class="field-group">
        <label for="id">ID</label>
        <input id="id" type="number" formControlName="id" />
      </div>

      <div class="field-group">
        <label for="firstName">First name</label>
        <input id="firstName" type="text" formControlName="firstName" />
      </div>

      <div class="field-group">
        <label for="lastName">Last name</label>
        <input id="lastName" type="text" formControlName="lastName" />
      </div>

      <div class="field-group">
        <label for="maidenName">Maiden name</label>
        <input id="maidenName" type="text" formControlName="maidenName" />
      </div>

      <div class="field-group">
        <label for="age">Age</label>
        <input id="age" type="text" formControlName="age" />
      </div>

      <div class="field-group">
        <label for="role">Role</label>
        <select id="role" formControlName="role">
          @for (role of roles$ | async; track role) {
          <option [value]="role.id">{{ role.name }}</option>
          }
        </select>
      </div>

      <div class="field-group">
        <button class="btn btn-primary" type="submit" [disabled]="isSubmitting()">
          {{ isSubmitting() ? "Saving..." : "Save" }}
        </button>

        <button class="btn btn-secondary" type="button" (click)="form.reset()">
          cancel
        </button>
      </div>

    </form>
  </div>
</div>